#---------------------------------
# Directories
#---------------------------------
**/node_modules/
public/
build/
tmp/
dist/
!src/electron/build/
package-lock.json

#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip


#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
*.iml
.vscode/

#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db
