@import '../../../shared/styles/utils';

slick-slider {
  .slick-list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden!important;

    &:hover {
      cursor: pointer;
    }
  }

  .slick-track {
    @include clearfix();
    //margin: 23px 23px 23px 10px;
  }

  .slick-prev.slick-arrow,
  .slick-next.slick-arrow {
    display: none !important;
  }
}