app {
  .aside {
    flex-basis: 30%;
  }

  .aside {
    background-color: #D6D6D6;
  }
  .section {
    /* allow shrinking and growing */
    -webkit-flex: auto;
    flex: auto;
    width: auto;
    background-color: #FF6633;
  }
}