@import '../../../shared/styles/utils';

gallery {
  background-color: c('base', 'tab-bg-color');

  .swiper-container {
    background-color: c('base', 'tab-bg-color');
    width: 100%;
    height: 0;
    transition: all .35s cubic-bezier(.42, 0, .42, .86) 0s;

    &.is-active {
      height: 148px;
    }

    .swiper-wrapper {
      display: block;
      height: auto;
      white-space: nowrap;
      margin: 15px 20px 20px 20px;

      .swiper-slide {
        display: inline-block;
        width: 100px;
        margin-left: 15px;

        &:first-child {
          margin-left: 0;
        }

        &:hover {
          transform: scale(1.03, 1.03);
        }
      }
    }

    .thumb {
      border: solid 1px c('base', 'border-color');
      border-radius: 2px;
      cursor: pointer;
      overflow: hidden;
      padding-bottom: 0;

      &.selected {
        border: 2px solid #15b0ed;
      }

      &.is-active {
        border: solid 1px c('base', 'link-color');
        .thumb__label { color: c('base', 'tab-label-color-active'); }
      }

      &__figure {
        height: 75px;
        position: relative;
        width: 100px;
      }

      &__label {
        color: c('base', 'slider-label-color');
        font-size: 12px;
        line-height: 2;
        text-align: center;
      }

      &__img {
        width: 100px;
      }
    }

    .swiper-scrollbar-drag {
      background: #11C966;
    }
  }

}
