<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="cleartype" content="on">
  <meta name="application-name" content="Angular2 Instagram">
  <meta name="description" content="Instagram like photo filter playground built with Angular2 (Web | Desktop)" />
  <meta name="subject" content="Angular2 Instagram CSS photo filter">
  <meta name="abstract" content="Angular2 Instagram CSS photo filter">
  <meta name="robots" content="index,follow,noodp">
  <meta name="googlebot" content="index,follow">
  <title>Angular2 • Instagram</title>
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
  <% if (webpackConfig.htmlElements && webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Shadows+Into+Light">
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body>
  <app></app>
</body>
</html>
